<% layout('boilerplate') -%>
<h1>I am the <%= what %></h1>

<ul>
	<li>role: <%= role %></li>
	<li>email: <%= email %></li>
	<li>uid: <%= uid %></li>
	<li>globalSessionID: <%= globalSessionID %></li>
	<li>iat: <%= iat %></li>
	<li>exp: <%= exp %></li>
	<li>iss: <%= iss %></li>
</ul>
